In [1]:
import pandas as pd
import numpy as np

In [2]:
IBM = pd.read_csv (r'IBM.csv')
MSFT = pd.read_csv (r'MSFT.csv')
TSLA = pd.read_csv (r'TSLA.csv')
NFLX = pd.read_csv (r'NFLX.csv')
EBAY = pd.read_csv (r'EBAY.csv')
WMT = pd.read_csv (r'WMT.csv')

In [31]:
IBM_1 = pd.Series(IBM['Close'])
MSFT_1 = pd.Series(MSFT['Close'])
TSLA_1 = pd.Series(TSLA['Close'])
NFLX_1 = pd.Series(NFLX['Close'])
EBAY_1 = pd.Series(EBAY['Close'])
WMT_1 = pd.Series(WMT['Close'])

In [6]:
IBM_1.head()

0    154.250000
1    158.490005
2    161.699997
3    162.490005
4    163.470001
Name: Close, dtype: float64

In [10]:
np.array(IBM['Date'].head())

array(['2018-01-02', '2018-01-03', '2018-01-04', '2018-01-05',
       '2018-01-08'], dtype=object)

In [11]:
data = {'IBM':IBM_1,'MSFT':MSFT_1,'TSLA':TSLA_1,'NFLX':NFLX_1,'EBAY':EBAY_1,'WMT':WMT_1}

In [12]:
pd.DataFrame(data).head()

          IBM       MSFT       TSLA        NFLX       EBAY         WMT
0  154.250000  85.949997  64.106003  201.070007  38.060001   98.589996
1  158.490005  86.349998  63.450001  205.050003  39.220001   99.449997
2  161.699997  87.110001  62.924000  205.630005  38.570000   99.540001
3  162.490005  88.190002  63.316002  209.990005  39.689999  100.129997
4  163.470001  88.279999  67.281998  212.050003  39.799999  101.610001

In [13]:
dataframe_combined = pd.DataFrame(data)

In [14]:
dataframe_combined.index = np.array(IBM['Date'])

In [15]:
dataframe_combined.head()

,IBM,MSFT,TSLA,NFLX,EBAY,WMT
2018-01-02,154.250000,85.949997,64.106003,201.070007,38.060001,98.589996
2018-01-03,158.490005,86.349998,63.450001,205.050003,39.220001,99.449997
2018-01-04,161.699997,87.110001,62.924000,205.630005,38.570000,99.540001
2018-01-05,162.490005,88.190002,63.316002,209.990005,39.689999,100.129997
2018-01-08,163.470001,88.279999,67.281998,212.050003,39.799999,101.610001

In [16]:
dataframe_combined.tail()

,IBM,MSFT,TSLA,NFLX,EBAY,WMT
2018-12-21,110.940002,98.230003,63.953999,246.389999,26.580000,87.129997
2018-12-24,107.570000,94.129997,59.077999,233.880005,26.139999,85.820000
2018-12-26,111.389999,100.559998,65.218002,253.669998,27.850000,90.410004
2018-12-27,113.779999,101.180000,63.226002,255.570007,28.030001,91.589996
2018-12-28,113.029999,100.389999,66.774002,256.079987,28.240000,92.129997

In [17]:
fx = lambda x: x.mean()

In [20]:
dataframe_combined.apply(fx, axis=0)

IBM     143.976320
MSFT    101.031840
TSLA     63.449592
NFLX    319.496840
EBAY     36.093880
WMT      92.366720
dtype: float64

In [21]:
fy = lambda y: y.max()

In [23]:
dataframe_combined['tech_leader'] = np.array(dataframe_combined.apply(fy, axis=1))

In [24]:
dataframe_combined.head()

,IBM,MSFT,TSLA,NFLX,EBAY,WMT,tech_leader
2018-01-02,154.250000,85.949997,64.106003,201.070007,38.060001,98.589996,201.070007
2018-01-03,158.490005,86.349998,63.450001,205.050003,39.220001,99.449997,205.050003
2018-01-04,161.699997,87.110001,62.924000,205.630005,38.570000,99.540001,205.630005
2018-01-05,162.490005,88.190002,63.316002,209.990005,39.689999,100.129997,209.990005
2018-01-08,163.470001,88.279999,67.281998,212.050003,39.799999,101.610001,212.050003

In [40]:
def getCor(series1, series2):
    series1_ = series1 - series1.mean(axis=0)
    series2_ = series2 - series2.mean(axis=0)
    series1_sdv = (series1_ * series1_).sum(axis=0)
    series2_sdv = (series2_ * series2_).sum(axis=0)
	
    result = np.matmul(series1_.transpose(), series2_) / np.sqrt(np.outer(series_sdv, series2_sdv))
    # bound the values to -1 to 1 in the event of precision issues
    return np.maximum(np.minimum(result, 1.0), -1.0)

In [39]:
%%timeit
series1=dataframe_combined["IBM_1"]
series2=dataframe_combined["MSFT_1"]
getCor(series1,series2)

KeyError: "None of [Float64Index([    154.25, 158.490005, 161.699997, 162.490005, 163.470001,\n              163.830002, 164.179993, 164.199997, 163.139999, 163.850006,\n              ...\n              119.900002, 116.099998, 116.650002,     116.43, 113.019997,\n              110.940002,     107.57, 111.389999, 113.779999, 113.029999],\n             dtype='float64', length=250)] are in the [columns]"

In [36]:
a=getCor(dataframe_combined["IBM_1"],dataframe_combined["MSFT_1"])
b=getCor(dataframe_combined["IBM_1"],dataframe_combined["TSLA_1"])
c=getCor(dataframe_combined["IBM_1"],dataframe_combined["NFLX_1"])
d=getCor(dataframe_combined["IBM_1"],dataframe_combined["EBAY_1"])
e=getCor(dataframe_combined["IBM_1"],dataframe_combined["WMT_1"])

KeyError: 'IBM_1'

In [ ]:
if a>b>c>d>e:
    print(a,b)
elif a>b>c:
    print (a,b,c)
elif a>b>c>:
    print (a,b,c) 
elif a>b>c>d>e:
    print (a,b,c,d,e)