### Importing Libraries

In [21]:
import xgboost as xgb
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv(r"PurchaseData.csv")

In [23]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

### Using  Age and EstimatedSalary for X and Purchased for y

In [24]:
X = df[["Age","EstimatedSalary"]]
y = df["Purchased"]

### Splitting the data

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3, random_state=2)

### Build a XGBoost model to use Age and EstimatedSalary to predict Purchased.

In [27]:
D_train = xgb.DMatrix(X_train, label=Y_train)
D_test = xgb.DMatrix(X_test, label=Y_test)

In [31]:
param = {
    'eta': 0.3, 
    'max_depth': 3,  # depth of the trees in the boosting process
    'objective': 'multi:softprob',  # error evaluation for multiclass tasks
    'num_class': 3} # number of classes to predict

steps = 5  # The number of training iterations
model = xgb.train(param, D_train, steps)

[09:29:56] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

### Print accuracy of your model.

In [34]:
from sklearn.metrics import precision_score, recall_score, accuracy_score
preds = model.predict(D_test)
best_preds = np.asarray([np.argmax(line) for line in preds])

print("Precision = {}".format(precision_score(Y_test, best_preds, average='macro')))
print("Recall = {}".format(recall_score(Y_test, best_preds, average='macro')))
print("Accuracy = {}".format(accuracy_score(Y_test, best_preds)))

Precision = 0.9244444444444444
Recall = 0.932648746602235
Accuracy = 0.9333333333333333